.kleineBilder {
    margin-top:150px;
    width: 20%;
    height: 80%;
    overflow: auto;
    background-color: rgba(51,51,51,0.8);
    float: left;
    position: absolute;
    z-index: 1;
}

.bildergallerie {
    width: 80%;
    height: 90%;
    background-color: white;
    position: absolute;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 80px;
}

.kleineBilder > a > img {
    width: 80px;
    height: 80px;
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 10px;
    float: left;
    z-index: 10;
}

#grossesBild{
    margin-top:150px;
    width: 100%;
    height: 100%;
    margin-left:31%;

}

#hauptbild{
    float: left;
    position: relative;
    padding-left: 20%;
    height: 80%;
}


/* responsive bildergallerie */
@media screen and (max-width: 600px){
    .kleineBilder {
        margin-top:100px;
        width: 15.4%;
        height: 80%;
        overflow: auto;
        background-color: rgba(51,51,51,0.8);
        float: left;
        position: absolute;
        z-index: 1;
    }

    .bildergallerie {
        width: 93%;
        height: 90%;
        background-color: white;
        position: absolute;
        margin-left: 1%;
        margin-top: 1px;
    }

    .kleineBilder > a > img {
        width: 50px;
        height: 50px;
        margin-left: 10%;
        margin-right: 16%;
        margin-top: 10px;
        float: left;
        z-index: 10;
    }

    #grossesBild{
        margin-top:100px;
        width: 100%;
        height: 100%;
        margin-left:4.2%;

    }

    #hauptbild{
        float: left;
        position: relative;
        padding-left: 13.5%;
        height: 80%;
    }
}


























